In [256]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [257]:
movie = pd.read_csv("IMDb Movies India.csv", encoding='latin-1')
movie

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [258]:
movie.shape

(15509, 10)

In [259]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [260]:
movie.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [261]:
columns_to_drop = ['Name', 'Year', 'Duration', 'Votes']
movie_new = movie.drop(columns=columns_to_drop, axis=1)

In [262]:
movie_new

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3
0,Drama,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Drama,7.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,"Drama, Musical",NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,"Comedy, Romance",4.4,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,Drama,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...
15504,Action,4.6,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,"Action, Drama",4.5,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Action,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Action,NaN,NaN,NaN,NaN,NaN
15508,"Action, Drama",6.2,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [263]:
movie_new.isnull().sum()

Genre       1877
Rating      7590
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [264]:
# Correcting the column name in the list
movie_to_clean = ['Genre', 'Rating', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']

# Removing rows with null values in the specified columns
movie_new1 = movie_new.dropna(subset=movie_to_clean)

In [265]:
movie_new1

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3
1,Drama,7.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,"Comedy, Romance",4.4,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,"Comedy, Drama, Musical",4.7,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,"Drama, Romance, War",7.4,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,"Horror, Mystery, Thriller",5.6,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia
...,...,...,...,...,...,...
15501,"Action, Crime, Drama",5.3,Bharat Rangachary,Dharmendra,Moushumi Chatterjee,Govinda
15503,"Action, Crime, Drama",5.8,S.P. Muthuraman,Chiranjeevi,Jayamalini,Rajinikanth
15504,Action,4.6,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,"Action, Drama",4.5,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15508,"Action, Drama",6.2,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [266]:
movie_new1.isnull().sum()

Genre       0
Rating      0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [267]:
# now replacxing string colm to int data type
movie_new1['Genre'].value_counts()

Drama                              1137
Drama, Romance                      443
Action, Crime, Drama                417
Action                              391
Drama, Family                       291
                                   ...
Family, Drama, Thriller               1
Action, Musical, War                  1
Action, Fantasy, Horror               1
Horror, Crime, Thriller               1
Documentary, Biography, Musical       1
Name: Genre, Length: 416, dtype: int64

In [268]:
movie_new1['Director'].value_counts()

Mahesh Bhatt            45
David Dhawan            43
Hrishikesh Mukherjee    42
Shakti Samanta          38
Kanti Shah              37
                        ..
Vibhu Puri               1
Partho Sen-Gupta         1
Sanjeev Kumar Rajput     1
Gautam Bhatia            1
Mozez Singh              1
Name: Director, Length: 2956, dtype: int64

In [269]:
movie_new1['Actor 1'].value_counts()

Jeetendra             140
Dharmendra            134
Mithun Chakraborty    130
Ashok Kumar           125
Rajesh Khanna         118
                     ...
Yuvraj Kumar            1
Amrityan                1
Manish Anand            1
Nyra Banerjee           1
Meghan Jadhav           1
Name: Actor 1, Length: 2415, dtype: int64

In [270]:
movie_new1['Actor 2'].value_counts()

Rekha                 79
Hema Malini           71
Mithun Chakraborty    59
Dharmendra            55
Mala Sinha            43
                      ..
Rajkumar Santoshi      1
Emon Chatterjee        1
Ram Rano               1
Sanjana Tiwari         1
Jayamalini             1
Name: Actor 2, Length: 2783, dtype: int64

In [271]:
movie_new1['Actor 3'].value_counts()

Pran                  74
Anupam Kher           55
Shakti Kapoor         46
Prem Chopra           44
Mithun Chakraborty    42
                      ..
Kamna                  1
Meenaxi                1
Samit Bhanja           1
Ihana Dhillon          1
Suparna Anand          1
Name: Actor 3, Length: 3031, dtype: int64

In [272]:
from sklearn.preprocessing import LabelEncoder
Numerics=LabelEncoder()

In [273]:
movie_new1['Genre_new']=Numerics.fit_transform(movie_new1['Genre'])
movie_new1['Director_new']=Numerics.fit_transform(movie_new1['Director'])
movie_new1['Actor 1_new']=Numerics.fit_transform(movie_new1['Actor 1'])
movie_new1['Actor 2_new']=Numerics.fit_transform(movie_new1['Actor 2'])
movie_new1['Actor 3_new']=Numerics.fit_transform(movie_new1['Actor 3'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_15556\3015560411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new1['Genre_new']=Numerics.fit_transform(movie_new1['Genre'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_15556\3015560411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new1['Director_new']=Numerics.fit_transform(movie_new1['Director'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_15556\3015560411.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new1['Actor 1_new']=Numerics.fit_transform(movie_new1['Actor 1'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_15556\3015560411.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new1['Actor 2_new']=Numerics.fit_transform(movie_new1['Actor 2'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_15556\3015560411.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_new1['Actor 3_new']=Numerics.fit_transform(movie_new1['Actor 3'])

In [274]:
movie_new1

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3,Genre_new,Director_new,Actor 1_new,Actor 2_new,Actor 3_new
1,Drama,7.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,252,755,1686,2725,373
3,"Comedy, Romance",4.4,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,205,1637,1500,865,2543
5,"Comedy, Drama, Musical",4.7,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor,175,1881,481,84,2422
6,"Drama, Romance, War",7.4,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma,315,2486,878,1346,2996
8,"Horror, Mystery, Thriller",5.6,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia,351,161,2385,1416,1189
...,...,...,...,...,...,...,...,...,...,...,...
15501,"Action, Crime, Drama",5.3,Bharat Rangachary,Dharmendra,Moushumi Chatterjee,Govinda,28,467,599,1392,857
15503,"Action, Crime, Drama",5.8,S.P. Muthuraman,Chiranjeevi,Jayamalini,Rajinikanth,28,2197,522,910,1991
15504,Action,4.6,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand,0,1333,1325,2456,2696
15505,"Action, Drama",4.5,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani,38,1256,137,2588,367
15508,"Action, Drama",6.2,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja,38,1095,599,908,351

In [275]:
movie_new2=movie_new1.drop(['Genre','Director','Actor 1', 'Actor 2', 'Actor 3'],axis='columns')
movie_new2

       Rating  Genre_new  Director_new  Actor 1_new  Actor 2_new  Actor 3_new
1         7.0        252           755         1686         2725          373
3         4.4        205          1637         1500          865         2543
5         4.7        175          1881          481           84         2422
6         7.4        315          2486          878         1346         2996
8         5.6        351           161         2385         1416         1189
...       ...        ...           ...          ...          ...          ...
15501     5.3         28           467          599         1392          857
15503     5.8         28          2197          522          910         1991
15504     4.6          0          1333         1325         2456         2696
15505     4.5         38          1256          137         2588          367
15508     6.2         38          1095          599          908          351

[7558 rows x 6 columns]

In [276]:
x = movie_new2.drop(columns = ['Rating'], axis=1)
y = movie_new2['Rating']

In [277]:
print(x)

       Genre_new  Director_new  Actor 1_new  Actor 2_new  Actor 3_new
1            252           755         1686         2725          373
3            205          1637         1500          865         2543
5            175          1881          481           84         2422
6            315          2486          878         1346         2996
8            351           161         2385         1416         1189
...          ...           ...          ...          ...          ...
15501         28           467          599         1392          857
15503         28          2197          522          910         1991
15504          0          1333         1325         2456         2696
15505         38          1256          137         2588          367
15508         38          1095          599          908          351

[7558 rows x 5 columns]

In [278]:
print(y)

1        7.0
3        4.4
5        4.7
6        7.4
8        5.6
        ...
15501    5.3
15503    5.8
15504    4.6
15505    4.5
15508    6.2
Name: Rating, Length: 7558, dtype: float64

In [279]:
movie_new1.duplicated().sum()

0

In [280]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [281]:
print(y_train.unique())

[ 4.2  6.   6.3  5.1  6.6  5.7  3.2  5.5  3.6  7.3  7.6  7.1  6.1  7.4
  3.7  4.9  3.3  5.4  6.7  5.9  6.8  5.3  8.6  5.   7.5  2.3  7.   3.
  4.7  5.6  6.5  4.6  7.2  2.7  4.4  4.3  5.2  6.2  4.1  6.9  5.8  4.8
  2.9  4.5  3.4  7.8  2.6  7.7  3.9  2.2  3.5  4.   6.4  8.1  8.   2.5
  8.4  7.9  1.9  3.8  8.5  8.3  9.   2.1  3.1  2.8  8.2  8.7  9.3  2.4
  8.8  9.6  9.1  9.2  1.7  2.   1.6  8.9  1.8 10.   1.1  9.4]

In [282]:
# Example: Convert continuous labels to categorical labels
y_train_categorical = pd.cut(y_train, bins=3, labels=['low', 'medium', 'high'])

In [302]:
from sklearn.neighbors import KNeighborsRegressor

# Create and fit the KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=1)
model.fit(x_train, y_train)

KNeighborsRegressor(n_neighbors=1)

In [303]:
pred = model.predict([[252,755,1686,2725,373]])
print("The predicted movie rating is:", pred)

The predicted movie rating is: [6.2]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(